@using OnlineEdu.WEBUI.DTOs.BannerDtos
@model CreateBannerDto

@{
    ViewData["Title"] = "Yeni Banner Oluşturma Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-4">
    <form method="post">
        <label class="form-label mt-3">Resim Url </label>
        <input type="text" asp-for="ImageUrl" class="form-control" />
        <br />
        <label class="form-label mt-3">Başlık</label>
        <input type="text" asp-for="Title" class="form-control" />
        <br />
        <button type="submit" class="btn btn-outline-primary w-100 mt-4">Kaydet</button>
    </form>
</div>
